html{
    position: relative;
    min-height: 100vh;
}

html, body{
    padding: 0;
    margin: 0;
}


nav{
    display: flex;
    background-color: rgb(93, 93, 93);
    color: white;
    padding: 20px 50px;
}

.logoLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0;
}

.logo{
    left: 0;
    padding: 0;
}

.content-wrapper{
    margin: 10px;
    padding: 15px;
}

.container{
    display: flex;
    border: 1px solid rgba(93, 93, 93, .3);
    box-shadow: 10px 10px 10px 0 rgba(93, 93, 93, .3);
}

.col{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.row-item{
    padding-right: 10px;
}

.header{
    display: flex;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subjectDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    justify-content: space-between;
    background-color: rgb(93, 93, 93);
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /* height: 200px; */
    /* width: 100%; */
    overflow: hidden;
    padding: 20px 50px;
}

.footerMenus{
    display: flex;
    justify-content: space-between;
}

.footerMenu{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.fMenuTitle{
    font-size: 16px;
}

.fMenuList{
    list-style: none;
    padding: 0;
}

.fMenuItem{
    padding-bottom: 10px;
}

.fMenuItemLink{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
